<html>
  <head>
    <title>upload</title>
    <link rel="stylesheet" type="text/css" href="css/subStyle.css">
  </head>
  <body>
    Hello
    <%=userName%>
    <%=category%>
    <%=subCategory%>
  </body>
</html>