<!DOCTYPE html>
<html>
  <head>

  </head>
  <body>
    <h1>Hello</h1>

    <% rows.forEach(function(rows){ %>
      <li><%= rows[i].user %> - <%= rows[i].category %> </li>
    <% }) %>

    <form action="/dbtest/dbtests" method="post">
      First name:<br>
      <input type="text" name="firstname" value="mickey">
      <br>
      Last name:<br>
      <input type="text" name="lastname" value="Mouse">
      <br><br>
      <input type="submit" value="Submit">
    </form> 

  </body>
</html>