<!DOCTYPE html>
<html>
  <head>

  </head>
  <body>
    <h1>Hello</h1>

    <form action="/dbtest/dbtests" method="post">
      First name:<br>
      <input type="text" name="firstname" value=<%= user %>>
      <br>
      Last name:<br>
      <input type="text" name="lastname" value="Mouse">
      <br><br>
      <input type="submit" value="Submit">
    </form> 

  </body>
</html>