body{
	background-color:white;
	color: black;
}
.col{
	border:1px solid black;
}
.col-1{
	border:1px solid black;
}
.col-xs-auto{
	margin-bottom:50px;
}
.col-3{
	padding: 0 !important;
	margin: 0 !important;
}
.col-6{
	border:1px solid black;
	padding: 0 !important;
	margin: 0 !important;
}
/* .col-3{
	border:1px solid gray;
} */
.responsive {
	width: 100%;
	height: auto;
  }
.container{
	margin-top:100px;
}
.responsives {
	width: 100%;
  	max-width: 45px;
  	height: auto;
  }

.col-xs-auto{
	
}
/* .row {
    margin-left: 0;
    margin-right: 0;
} */
/* 
.container {
    padding-left:30px;
    padding-right:30px;
} */
